
@{
    ViewBag.Title = "Index";
}

<div id="container">
    <div id="productNames">
    @foreach(string product in (List<string>)TempData["GrabItemProducts"])
    {
        <p>@product</p>
        <br />
    }
    </div>
    <div id="productPrices">
    @foreach (double? price in (List<double?>)TempData["GrabItemPrices"])
    {
        <p>@price</p>
        <br />
    }
    </div>
</div>





