@model TypeNSaveWebForm.Models.Universal.Items

@{
    ViewBag.Title = "Index";
}


<link href="~/Style_Sheets/HomeIndex.css" rel="stylesheet" />

<div id="container">
    @using (Html.BeginForm("CalculateList", "Home", FormMethod.Post))
    {
    <div class="inputFields">
        <input type="text" class="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item" /><input type="number" id="quantity" name="quantity" placeholder="lbs" min="1" max="5">
    </div>
    <br />
    <div class="inputFields">
        <input type="text" class="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item" /><input type="number" id="quantity" name="quantity" placeholder="lbs" min="1" max="5">
    </div>
    <br />
    <div class="inputFields">
        <input type="text" class="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item" /><input type="number" id="quantity" name="quantity" placeholder="lbs" min="1" max="5">
    </div>
    <br />
    <div class="inputFields">
        <input type="text" class="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item" /><input type="number" id="quantity" name="quantity" placeholder="lbs" min="1" max="5">
    </div>
    <br />
    <div class="inputFields">
        <input type="text" class="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item" /><input type="number" id="quantity" name="quantity" placeholder="lbs" min="1" max="5">
    </div>
    <br />
    <div id="addField">
        <input type="button" value="Add Another Item" />
    </div>
    <div id="calcButton">
        <input type="button" value="Calculate" />
        <div id="clrButton">
            <input type="button" value="Clear" />
        </div>
    </div>

        }
</div>

