@model TypeNSaveWebForm.Models.Universal.Items

@{
    ViewBag.Title = "Index";
}




@using (Html.BeginForm("CalculateList", "Home", FormMethod.Post))
{
    <input type="text" name="ItemName" />
    <br />
    <input type="text" name="ItemName" />
    <br />
    <input type="text" name="ItemName" />
    <br />
    <input type="text" name="ItemName" />
    <br />
    <input type="text" name="ItemName" />
    <br />

    <button type="submit">Calculate</button>
}

