@model TypeNSaveWebForm.Models.Universal.Items

@{
    ViewBag.Title = "Index";
}



<div id="container">
    @using (Html.BeginForm("CalculateList", "Home", FormMethod.Post))
    {
        <input type="text" class ="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item"/>
        <br />
        <input type="text" class ="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item"/>
        <br />
        <input type="text" class ="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item"/>
        <br />
        <input type="text" class ="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item"/>
        <br />
        <input type="text" class ="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item"/>
        <br />
        <button type="submit">Calculate</button>
    }
</div>

