@model TypeNSaveWebForm.Models.Universal.ModelViewIndex


@{
    ViewBag.Title = "Index";
}


<link href="~/Style_Sheets/HomeIndex.css" rel="stylesheet" />

<div id="container">
    @using (Html.BeginForm("MyButtonAction", "Home", FormMethod.Post))
    {
        for (int i = 0; i < Model.ItemsModel.ItemName.Count; i++)
        {
            <div class="inputFields">
                <input type="text" class="itemtxtbox" name="ItemName" placeholder="Enter Grocery Item" value="@Model.ItemsModel.ItemName[i]" /><input type="number" id="quantity" name="quantity" placeholder="Amount" min="1" max="100">
                <select name="Size" id="Size" style="color:black">
                    @for (int j = 0; j < Model.Sizes.Count; j++)
                    {
                        <option class="options" style="color:black"  value="@Model.Sizes[j]">@Model.Sizes[j]</option>

                    }
                </select>
            </div>
            <br />
        }

        <input type="submit" name="buttonClicked" value="Add Another Item" />
        <div id="calcButton">
            <input type="submit" name="buttonClicked" value="Calculate" />
        </div>
        <div id="clrButton">
            <input type="submit" name="buttonClicked" value="Clear" />
        </div>

    }
</div>

