body {
    background-color: black;
    text-align: center;
}

#calcButton , #addbtn, #clrButton{

    margin: 2px;
    color: white;
    padding: 1px;
}

#calcButton input, #clrButton input, #addbtn input {
    border-width: 0px;
    padding: 0.5%;
    width: 100%;
    height: 100%;

}

.col-sm-12{
    margin-top: 0.5%;
}

::placeholder {
    color: black;
    text-align: left;
}

select::placeholder{
    color:black
}

select{
    padding:.42%;
}
.itemtxtbox, .quantity{
    padding: 0.25%
}

#clrButton input{
    background-color: rgb(185, 45, 45);
}

#calcButton input{
    background-color: rgb(116 181 90);
}

#addbtn input {
    background-color: rgb(137 126 126);
}

h1{
    color: white;
}